.vs/open_itapi/v14/.suo
open_itapi/bin/open_itapi.dll
open_itapi/bin/open_itapi.pdb
open_itapi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
open_itapi/obj/Debug/open_itapi.csproj.FileListAbsolute.txt
open_itapi/obj/Debug/open_itapi.csprojResolveAssemblyReference.cache
open_itapi/obj/Debug/open_itapi.dll
open_itapi/obj/Debug/open_itapi.pdb
open_itapi/obj/Release/_WPPLastBuildInfo.txt
open_itapi/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
open_itapi/obj/Release/open_itapi.csproj.FileListAbsolute.txt
open_itapi/obj/Release/open_itapi.dll
open_itapi/obj/Release/open_itapi.pdb
open_itapi/obj/Release/Package/PackageTmp/bin/open_itapi.dll
open_itapi/obj/Release/Package/PackageTmp/Web.config
open_itapi/obj/Release/TransformWebConfig/original/Web.config
open_itapi/obj/Release/TransformWebConfig/transformed/Web.config
open_itapi/Properties/PublishProfiles/1111.pubxml.user
.vs/open_itapi/v14/.suo
open_itapi/bin/open_itapi.dll
open_itapi/bin/open_itapi.pdb
open_itapi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
open_itapi/obj/Debug/open_itapi.csproj.FileListAbsolute.txt
open_itapi/obj/Debug/open_itapi.csprojResolveAssemblyReference.cache
open_itapi/obj/Debug/open_itapi.dll
open_itapi/obj/Debug/open_itapi.pdb
open_itapi/obj/Release/_WPPLastBuildInfo.txt
open_itapi/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
open_itapi/obj/Release/open_itapi.csproj.FileListAbsolute.txt
open_itapi/obj/Release/open_itapi.dll
open_itapi/obj/Release/open_itapi.pdb
open_itapi/obj/Release/Package/PackageTmp/bin/open_itapi.dll
open_itapi/obj/Release/Package/PackageTmp/Web.config
open_itapi/obj/Release/TransformWebConfig/original/Web.config
open_itapi/obj/Release/TransformWebConfig/transformed/Web.config
open_itapi/Properties/PublishProfiles/1111.pubxml.user
.vs/config/applicationhost.config
.vs/open_itapi/v14/.suo
open_itapi/bin/open_itapi.dll
open_itapi/bin/open_itapi.dll.config
open_itapi/bin/open_itapi.pdb
open_itapi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
open_itapi/obj/Debug/open_itapi.csproj.FileListAbsolute.txt
open_itapi/obj/Debug/open_itapi.csprojResolveAssemblyReference.cache
open_itapi/obj/Debug/open_itapi.dll
open_itapi/obj/Debug/open_itapi.pdb
open_itapi/obj/Release/_WPPLastBuildInfo.txt
open_itapi/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
open_itapi/obj/Release/open_itapi.csproj.FileListAbsolute.txt
open_itapi/obj/Release/open_itapi.dll
open_itapi/obj/Release/open_itapi.pdb
open_itapi/obj/Release/Package/PackageTmp/bin/open_itapi.dll
open_itapi/obj/Release/Package/PackageTmp/Web.config
open_itapi/obj/Release/TransformWebConfig/original/Web.config
open_itapi/obj/Release/TransformWebConfig/transformed/Web.config
open_itapi/Properties/PublishProfiles/1111.pubxml.user
